/*  Google Fonts  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* === Variables de CSS === */

:root {
  --font-bold-semi: 600;

  /* === Colors === */

  --first-text-color: #fff;
  --second-text-color: #08c0d1;
  --three-text-color: #f0bd4f;
  --background-first-color: #161b22;
  


  /* === Typography === */

  --body-font: "Poppins", sans-serif;
  --large-font: 2rem;
  --h2-font-size: 1.25rem;
  --standard-font-size: 0.938rem;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*========== z index ==========*/
 

  /* === z index === */
  --z-back: -10;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}
@media screen and (min-width: 768px) {
  :root {
    --large-font: 3.0rem;
    --h2-font-size: 2rem;
    --standard-font-size: 1rem;
  }
}

/*===== Base Structure =====*/
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 3rem 0 0 0;
  font-family: var(--body-font);
  font-size: var(--standard-font-size);
  background-color: var(--background-first-color);
}
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
}
h1,
h2,
h3 {
  margin: 0;
}
p {
  color: var(--first-text-color);
  margin-bottom: 0;
  line-height: normal;
  
}
.container {
  max-width: 768px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.home__i {
  font-size: 2.2rem;
  font-style: oblique;
  color: var(--three-text-color);
}

@media screen and (max-width: 768px) {
  .home__i {
    font-size: 1.7rem;
    font-style: oblique;
  }
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--background-first-color);
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

/*=== CLASS === */

/* === Navegation === */
.nav {
  height: 3rem;
  display: flex;
  max-width: 1024px;
  justify-content: space-between;
  align-items: center;
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
  font-weight: var(--font-bold-semi);
}
@media screen and (min-width: 1024px) {
  .nav {
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .nav {
    height: 4rem;
  }
}
@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: 3rem;
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--background-first-color);
    transition: 0.7s;
  }
}
.nav__link {
  position: relative;
  color: var(--first-text-color);
}
.nav__link:hover {
  position: relative;
}
.nav__link:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--second-text-color);
}
.nav__item {
  margin-bottom: var(--mb-4);
}
@media screen and (min-width: 768px) {
  .nav__item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__list {
    display: flex;
    padding-top: 0;
  }
}

/* === Logo === */
.logo {
  color: var(--first-text-color);
}
/* === Toogle === */
.menu__toggle {
  color: var(--first-text-color);
  font-size: 1.5rem;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .menu__toggle {
    display: none;
  }
}
/* === Active menu === */
.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--second-text-color);
}

/* === Show menu === */
.show {
  right: 0;
}

/* === HOME === */
.home {
  height: calc(100vh - 3rem);
  row-gap: 1rem;
}
.home__data {
  align-self: center;
}
.home__title {
  font-size: var(--large-font);
  margin-bottom: var(--mb-5);
  color: var(--first-text-color);
}
.home__title-color {
  color: var(--second-text-color);
}
.home__social {
  display: flex;
  flex-direction: column;
}
.home__social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.8rem;
  color: var(--first-text-color);
}
.home__social-icon:hover {
  color: var(--second-text-color);
}
.home__img {
  position: absolute;
  left: 50px;
  bottom: 70px;
  width: 295px;
}

@media screen and (min-width: 1024px) {
  .home__img {
    right: 12%;
    bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .home {
    height: 100vh;
  }
  .home__data {
    align-self: flex-end;
  }
  .home__social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home__social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }
  .home__img {
    width: 420px;
    bottom: 22%;
    left: 57%;
  }
}
/* === Section === */

.section__title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-text-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
}
.section__title::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--second-text-color);
}
.section__subtitle {
  display: block;
  font-size: var(--h3-font-size);
  color: var(--first-text-color);
  margin-bottom: var(--mb-3);
}
.section__title,
.section__subtitle {
  text-align: center;
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section__title {
    margin-bottom: var(--mb-5);
  }
  .section__title::after {
    width: 80px;
    top: 3rem;
  }
}
/* === Design === */

.bd__grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
@media screen and (min-width: 1024px) {
  .bd__grid {
    margin-left: auto;
    margin-right: auto;
  }
}

/* === About === */

.about__container {
  row-gap: 2rem;
  text-align: center;
}
.about__subtitle {
  color: var(--second-text-color);
  margin-bottom: var(--mb-2);
}
.about__text {
  text-align: justify;
  margin-bottom: var(--mb-4);
}
.about__img {
  justify-self: center;
}
.about__img img {
  width: 400px;
  border-radius: 0.5rem;
}
@media screen and (min-width: 768px) {
  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
  }
}

/* === Skills === */

.bd__grid-skill {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
@media screen and (min-width: 1024px) {
  .bd__grid-skill {
    margin-left: auto;
    margin-right: auto;
  }
}
.skills__container {
  row-gap: 2rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .skills__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
  }
}
.skills__subtitle {
  color: var(--second-text-color);
  text-align: initial;
  margin-bottom: var(--mb-2);
}
.skills__text {
  text-align: justify;
  margin-bottom: var(--mb-4);
}
.skills__P {
  text-align: center;
  font-size: 11px;
}

.skills__container-card {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  justify-items: center;
  align-items: center;
}

.skills__container-card .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  border-radius: 25px;
  transition: 0.7s;
  z-index: 1;
}

.icon .bx {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.7s;
  color: #fff;
}

.skills__card-front {
  width: 100px;
  height: 100px;
  transition: 0.5s;
  border-radius: 25px;
}

.skills__card-front.skills__card-front-one {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(50px);
}

.card:hover .skills__card-front.skills__card-front-one {
  background: var(--second-text-color);
  transform: translateY(-15px);
  width: 100px;
  height: 100px;
  opacity: 0;
}

.skills__card-front.skills__card-front-one .content {
  opacity: 1;
  transition: 0.5s;
}

.card:hover .skills__card-front.skills__card-front-one .content {
  opacity: 0.8;
}

.card .skills__card-front.skills__card-front-one .content i {
  max-width: 100px;
}

.skills__card-front.skills__card-back {
  position: relative;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-50px);
}

.card:hover .skills__card-front.skills__card-back {
  transform: translateY(-40px);
}

.h3 a {
  text-decoration: none;
  color: #fff;
}
.h3 {
  padding-bottom: 10px;
}
.skill__title-js {
  font-size: 15px;
}
.h3 a:hover {
  border-bottom: 4px solid var(--three-text-color);
  transition: border 0.1s ease-out;
}

a:active {
  color: black;
}

@media (max-width: 768px) {
  .skills__container-card {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }
}
/* === Portfolio === */
/*========== SCROLL UP ==========*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: var(--first-text-color);
  padding: 0.4rem 0.3rem;
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
}

.scroll:hover {
  background-color: var(--second-text-color);
}

.scrollup__icon {
  font-size: 1.5rem;
  color: var(--second-text-color)
}

/* Show scroll */
.show-scroll {
  bottom: 5rem;
}
.grid {
  display: grid;
  gap: 1.5rem;
}
.portfolio__container {
  overflow: initial;
}

.portfolio__content {
  padding: 0 1.5rem;
}

.portfolio__img {
  width: 265px;
  border-radius: 0.5rem;
  justify-self: center;
}

.portfolio__title {
  font-size: var(--h3-font-size);
  margin-bottom: 0.5rem;
  color: var(--second-text-color);
}

.portfolio__description {
  margin-bottom: 0.75rem;
}

.portfolio__button:hover {
  transform: translateX(0.25rem);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: '';
}

.swiper-portfolio-icon {
  font-size: 2rem;
  color: var(--second-text-color);
}

.swiper-button-prev {
  left: -0.5rem;
}

.swiper-button-next {
  right: -0.5rem;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: -2.5rem;
}

.swiper-pagination-bullet-active {
  background-color: var(--first-text-color);
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination-bullet {
  outline: none;
}



@media screen and (min-width: 768px) {
  .portfolio__img {
    width: 320px;
  }

  .portfolio__content {
    align-items: center;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
}
  header,
  main,
  footer {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 1024px) {
  header,
  main,
  footer {
    padding: 0;
  }
  .swiper-portfolio-icon {
    font-size: 3.5rem;
  }

  .swiper-button-prev {
    left: -3.5rem;
  }

  .swiper-button-next {
    right: -3.5rem;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: -4.5rem;
  }
}


/* === Contact === */
.contact__input {
  width: 100%;
  font-size: var(--standard-font-size);
  font-weight: var(--font-bold-semi);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1.5px solid var(--background-first-color);
  outline: none;
  margin-bottom: var(--mb-4);
}
.contact__button {
  display: block;
  border: none;
  outline: none;
  font-size: var(--standard-font-size);
  cursor: pointer;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .contact__form {
    width: 360px;
  }
  .contact__container {
    justify-items: center;
  }
}

/* === Footer === */
.footer {
  background-color: var(--background-first-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-bold-semi);
  margin-top: 8rem;
  padding: 2rem 0;
}
.footer__title {
  font-size: 1.5rem;
  margin-bottom: var(--mb-4);
}
.footer__social {
  margin-bottom: var(--mb-4);
}
.footer__icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2);
}

/* === Buttons === */
.button {
  display: inline-block;
  background-color: var(--second-text-color);
  color: var(--background-first-color);
  padding: 0.75rem 2.5rem;
  font-weight: var(--font-bold-semi);
  border-radius: 0.5rem;
  transition: 0.3s ease;
  cursor: pointer;
}
.button:hover {
  box-shadow: 0 10px 20px rgba(33, 182, 241, 0.15);
}

.button--work {
  display: inline-block;
  background-color: var(--three-text-color);
  color: var(--background-first-color);
  padding: 0.75rem 2.5rem;
  font-weight: var(--font-bold-semi);
  border-radius: 0.5rem;
  transition: 0.3s ease;
  cursor: pointer;
}
.button--work:hover {
  box-shadow: 0 10px 20px rgba(33, 182, 241, 0.15);
}
.button--flex {
  display: inline-flex;
  align-items: center;
}
.button--small {
  padding: 0.25rem 0.75rem;
}
.button__icon {
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
  transition: 0.3s;
}
.button--link {
  padding: 0;
  background-color: transparent;
  color: var(--first-text-color);
}

.button--link:hover {
  background-color: transparent;
  color: var(--three-text-color);
}

@media screen and (min-width: 568px) {
  .portfolio__content{ 
      grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  header,
  main,
  footer {
    padding: 0;
  }
  .portfolio__content {
    column-gap: 5rem;
  }

  .swiper-portfolio-icon {
    font-size: 3.5rem;
  }

  .swiper-button-prev {
    left: -3.5rem;
  }

  .swiper-button-next {
    right: -3.5rem;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: -4.5rem;
  }
}

